
<footer class="footer">
    <div class="footer-top">
        <div class="footer-img"><img src="https://liki24.com/image/image-footer.svg"></div>
    </div>
    <div class='footer-down'>
        <div class="footer-text"><img src="https://www.mastercard.ru/content/dam/mccom/global/logos/logo-mastercard-mobile.svg" height="40px" width="80px" alt="партнер">
            <span class="right white-text coopyright">&copy;2020</span></div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>$('.carousel.carousel-slider').carousel({
        fullWidth: true,
        indicators: true,
    })</script><script src="/app.js"></script>