<div class="top-menu">
    <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="row-menu">
        <li><a href="/catalog">Каталог</a></li>
        <li><a href="/maker">Виробники</a></li>
        <li><a href="/about">Про компанію</a></li>
        <li><a href="/delivery">Доставка</a></li>
        <li><a href="/connect">Зв'язок з нами</a></li>
        {{#ifeq isAdmin isAuth}}
        <li class="right"><a href="/auth/login#login"> Вхід / Реєстрація</a></li>
        {{/ifeq}}

        {{#if isAdmin}}
        <li><a href="/add">Добавити</a></li>
        <li><a href="/orders-admin">Замовлення</a></li>
        <li class="right"><a href="/auth/logout">Вийти</a></li>
        {{/if}}

        {{#if isAuth}}
        <li class="right"><a href="/auth/logout">Вийти</a></li>
        {{/if}}
        {{!-- {{#if isAdmin}}
        <li><a href="/add">Добавити</a></li>
        <li class="right"><a href="/auth/logout">Вийти</a></li>
        {{else}}
        {{#if isAuth}}
        <li class="right"><a href="/auth/logout">Вийти</a></li>
        {{else}}
        <li class="right"><a href="/auth/login#login"> Вхід / Реєстрація</a></li>
        {{/if}}
        {{/if}} --}}



        {{!-- <img src="./login-16.png" /> --}}
    </ul>
</div>

<div class="under-top-menu">
    {{!-- <img src="https://gmpnews.ru/wp-content/uploads/2019/05/alium_logo.png" height="75" width="130"> --}}
    <a href="/"><img src="../logo.PNG" alt="" width="320" height="75"></a>
    <div class="buy right"><a href="/basket"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="60"
                height="60" viewBox="0 0 172 172" style=" fill:#000000;">
                <g transform="">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                        stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                        font-family="none" font-weight="none" font-size="none" text-anchor="none"
                        style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <g id="original-icon" fill="#293036">
                            <path
                                d="M71.66667,7.16667l-21.5,21.5h-12.54167l-5.99089,-14.36133l-24.43945,0.12598l0.06999,14.33333l14.85124,-0.06999l23.59961,56.64746l-8.5804,13.71745c-2.87383,4.5795 -3.01493,10.37318 -0.39193,15.10319c2.623,4.73 7.59275,7.67057 13.00358,7.67057h86.41992v-14.33333h-86.41992l-0.46191,-0.83985l8.42643,-13.49349h53.52604c5.203,0 10.005,-2.8258 12.52767,-7.37663l25.8112,-46.47135c1.23267,-2.22167 1.20601,-4.93167 -0.08399,-7.12467c-1.28283,-2.18583 -3.63585,-3.52734 -6.17285,-3.52734h-14.31934l-21.5,-21.5l-10.75,10.75l10.75,10.75h-14.33333zM43.58789,43h87.55371l-19.9043,35.83333h-52.71419zM50.16667,129c-7.91608,0 -14.33333,6.41725 -14.33333,14.33333c0,7.91608 6.41725,14.33333 14.33333,14.33333c7.91608,0 14.33333,-6.41725 14.33333,-14.33333c0,-7.91608 -6.41725,-14.33333 -14.33333,-14.33333zM121.83333,129c-7.91608,0 -14.33333,6.41725 -14.33333,14.33333c0,7.91608 6.41725,14.33333 14.33333,14.33333c7.91608,0 14.33333,-6.41725 14.33333,-14.33333c0,-7.91608 -6.41725,-14.33333 -14.33333,-14.33333z">
                            </path>
                        </g>
                        <path d="" fill="none"></path>
                        <path d="" fill="none"></path>
                    </g>
                </g>
            </svg></a></div>
    <div class="call right"><a href="/connect"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="60"
                height="60" viewBox="0 0 172 172" style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                    font-family="none" font-weight="none" font-size="none" text-anchor="none"
                    style="mix-blend-mode: normal">
                    <path d="M0,172v-172h172v172z" fill="none"></path>
                    <g fill="#293036">
                        <path
                            d="M171.20192,147.31112c-0.94256,-1.54456 -2.46648,-2.27384 -4.2312,-3.11664l-1.07328,-0.516c-0.11352,-0.05848 -11.87488,-5.83424 -14.24504,-6.67704c-1.69248,-0.60888 -5.65536,-2.03304 -8.58968,2.31856c-0.40248,0.59856 -1.10424,1.49984 -1.91608,2.50088c-5.70696,-11.22816 -17.67128,-16.05792 -27.80896,-20.0896c-0.1204,-0.04816 -0.23048,-0.09288 -0.35088,-0.14104l1.00104,-1.18336c1.16272,-1.34504 1.68904,-2.41144 2.24632,-3.53976l0.25112,-0.51256c1.05608,-2.08808 0.9976,-4.3172 -0.16168,-6.59448c-0.31304,-0.64328 -2.36672,-5.58656 -3.87,-9.19168l-2.29792,-5.504c-2.06056,-4.89512 -4.94672,-5.54528 -7.51296,-5.54528c-0.02408,0 -0.04472,0 -0.0688,0c-0.35432,-0.0172 -0.74304,-0.02408 -1.12144,-0.0344c0.74992,-2.064 1.36912,-4.214 1.74408,-6.3124c2.44928,-1.204 5.4696,-4.2656 6.1748,-12.01592c0.3268,-3.87344 -0.7396,-6.72176 -2.20504,-8.55872c2.92056,-9.38432 5.48336,-25.46288 -0.69832,-35.68312c-2.924,-4.8504 -7.396,-7.89824 -13.30248,-9.07816c-3.32304,-4.1968 -9.57008,-6.4844 -17.90176,-6.4844h-0.00344c-12.6764,0.28552 -21.94032,4.1624 -27.5372,11.52056c-6.62544,8.71696 -7.86728,22.07448 -3.70144,39.72168c-1.42072,1.82664 -2.7004,4.7472 -2.36672,8.7376c1.01824,7.44072 3.84936,10.49888 6.15416,11.75104c1.09392,5.91336 4.19336,12.63512 7.23432,15.83432v12.22232c-2.10528,4.73 -9.00248,7.46824 -16.94888,10.62272c-13.39192,5.31824 -30.05528,11.93336 -31.20424,32.84856l-0.2064,3.6292h107.18008c4.17616,3.09944 8.74792,5.934 13.78064,8.08056c4.78504,2.03648 8.54496,3.29208 11.89552,4.34128c2.83112,0.88752 5.77576,1.33128 8.89928,1.33128c1.74752,0 3.55352,-0.1376 5.42832,-0.41624c4.37224,-0.64328 14.13496,-5.38016 16.44664,-11.77168c1.57208,-4.34816 2.38048,-10.03448 0.88752,-12.49408zM54.3348,80.1692l-0.04472,-3.08224h-3.12696c-0.48848,-0.1892 -2.02616,-1.8232 -2.67288,-6.50848c-0.23736,-2.88616 1.23496,-4.0764 1.23152,-4.0764l2.0296,-1.34848l-0.59856,-2.35984c-4.17272,-16.45352 -3.48128,-28.48664 2.05024,-35.7588c4.26216,-5.6072 11.73728,-8.57248 22.1364,-8.8064c6.50504,0 11.18688,1.63744 12.85184,4.48576l0.83936,1.44136l1.64776,0.23392c4.58208,0.64672 7.82256,2.63504 9.91064,6.08192c4.98112,8.2388 2.3564,23.65688 -0.62952,32.0092l-1.08704,2.83456l2.72792,1.36224c0.30616,0.21672 1.13176,1.40352 0.92536,3.87c-0.4644,5.0912 -2.07776,6.44656 -2.42176,6.50848h-3.1304l-0.29584,3.11664c-0.37152,3.9044 -1.82664,7.8604 -3.1992,10.6296c-0.95976,0.52976 -1.94704,1.23496 -2.8896,2.24976l-0.36464,0.39216c-2.29448,2.41144 -7.66432,8.06336 -7.66432,18.6792c0,1.28312 0.11352,2.55592 0.30616,3.80808c-1.99176,0.59856 -4.35848,1.02856 -7.18616,1.02856c-8.56216,0 -13.76,-3.58448 -13.76,-5.16v-14.448l0.05504,-1.96424l-1.73376,-0.99072c-1.25904,-0.90472 -5.28384,-7.72624 -5.90648,-14.22784zM163.8472,157.46944c-1.09736,3.03752 -7.74344,6.82496 -10.97704,7.30312c-2.666,0.39216 -6.72864,0.74992 -11.26256,-0.67424c-3.18544,-1.00104 -6.75272,-2.18784 -11.25912,-4.10736c-15.7724,-6.72864 -27.36864,-20.80512 -32.87952,-28.60016l-0.46096,-0.6364c-1.77848,-2.34608 -7.568,-10.62616 -7.568,-18.63104c0,-7.87072 3.75304,-11.82328 5.76888,-13.94232l0.42656,-0.45064c1.21432,-1.3072 2.51808,-1.4104 2.89304,-1.4104c1.30032,0 2.5972,0.01376 3.72208,0.0688c0.16168,0.00688 0.3268,0.01032 0.4988,0.01032c0.12728,0 0.32336,0.01376 0.31648,-0.04472c0.1204,0.14448 0.39904,0.52288 0.7568,1.37256l2.2876,5.47992c2.2876,5.504 3.70488,8.8924 4.0764,9.63888c0.22016,0.43344 0.16168,0.42312 0.16512,0.4128l-0.27864,0.56416c-0.47472,0.9632 -0.69144,1.40352 -1.2728,2.07432c-0.35776,0.41624 -0.73272,0.86 -1.1008,1.3072c-0.6192,0.7396 -1.22464,1.48608 -1.76128,2.0124c-0.99072,0.97352 -4.0076,3.94224 -1.44136,8.2904c1.5308,2.60408 5.77232,9.25704 11.9884,14.73008c6.8972,6.07848 12.97568,8.686 15.90312,9.93816c0.48848,0.20984 0.88408,0.37496 1.17648,0.51944c3.39184,1.67528 6.25048,1.23496 8.50712,-1.31064c0.04816,-0.05504 4.60272,-5.2288 6.64952,-8.11152c0.16856,0.0516 0.37152,0.1204 0.62264,0.20984c1.42416,0.50912 10.19272,4.72312 13.51232,6.364l1.15584,0.56072c0.36808,0.17544 0.79464,0.3784 1.12144,0.5504c0.00688,1.1696 -0.23048,3.58792 -1.28656,6.51192z">
                        </path>
                    </g>
                </g>
            </svg></a></div>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/catalog">Каталог</a></li>
    <li><a href="/maker">Виробники</a></li>
    <li><a href="/about">Про компанію</a></li>
    <li><a href="/delivery">Доставка</a></li>
    <li><a href="/connect">Зв'язок з нами</a></li>
    {{#ifeq isAdmin isAuth}}
    <li class="right"><a href="/auth/login#login"> Вхід / Реєстрація</a></li>
    {{/ifeq}}

    {{#if isAdmin}}
    <li><a href="/add">Добавити</a></li>
    <li><a href="/orders-admin">Замовлення</a></li>
    <li class="right"><a href="/auth/logout">Вийти</a></li>
    {{/if}}

    {{#if isAuth}}
    <li class="right"><a href="/auth/logout">Вийти</a></li>
    {{/if}}
    {{!-- <li><a href="/catalog">Каталог</a></li>
    <li><a href="/maker">Виробники</a></li>
    <li><a href="/about">Про компанію</a></li>
    <li><a href="/delivery">Доставка</a></li>
    <li><a href="/connect">Зв'язок з нами</a></li>
    {{#if isAuth}}
    <li><a href="/add">Добавити</a></li>
    <li class=""><a href="/auth/logout">Вийти</a></li>
    {{else}}
    <li class=""><a href="/auth/login#login"> Вхід / Реєстрація</a></li>
    {{/if}} --}}
</ul>