<div class="delivery"><h3>Farma-shop</h3><p><strong>farma-shop</strong> об'єднує під торговою маркою «farma-shop» 1 онлайн аптеку.</p>

<p>Це не просто мережа аптека.
    Це висококласна команда професіоналів у своїй спеціалізації, здатна швидко і якісно виконувати поставлені завдання.
</p>

<h3>Асортимент</h3>
<p>Асортимент мережі аптек farma-shop ™ - це більше 100 найменувань товарів.</p>

<p>У нас ви завжди зможете знайти всі необхідні лікарські препарати, лікувальну косметику, дитячі товари, прилади
    медичного
    призначення, здатні зміцнювати здоров'я і красу кожен день.</p>


<p>farma-shop ™ - це передовий рівень представлених рішень.
<h3>Наш процес</h3>
Щоб зробити процес обслуговування і консультації комфортним і приємним, наші аптеки працюють за європейським форматом
    фарммаркетов і товари в них знаходяться у вільному доступі.</p>
<p>Ми формуємо свій асортимент відповідно до світових тенденцій. У всіх аптеках нашої мережі ви можете знайти лікувальну
    продукцію під власною торговою маркою «Prano». Ми ретельно стежимо за якістю товарів в наших аптеках, тому абсолютно
    вся
    продукція проходить тестування, сувору перевірку і відповідає всім необхідним нормам і стандартам.</p></div>