<div class="delivery">
    <h2>Контакти</h2>


    <strong>Увага! У зв'язку з високою завантаженням в умовах карантину замовлення можуть оброблятися довше звичайного.
        Також можливі затримки при зверненні в службу підтримки або в онлайн-чат. Просимо ставитися з розумінням і
        терпінням ...</strong>





    <h2>Для розміщення замовлення на сайті:</h2>

    <p>Знайдіть і додайте в корзину всі потрібні товари. Інформація про ціни та наявність оновлюється щогодини. Виберіть спосіб отримання "доставка" або "заберу сам". Отримайте своє замовлення в найближчій аптеці або з доставкою на зазначену адресу.</p>


    <p>Зв'язатися з нашою службою підтримки можна за телефонами (пн-пт 9: 00-21: 00, сб-нд 10: 00-20: 00) або в онлайн-чаті на сайті і Фейсбуці.</p><br />

    <strong>+38-068-686-49-00 (kyivstar)</strong><br />

    <strong>+38-063-938-48-00 (lifecell)</strong><br />

    <strong>+38-050-557-22-00 (vodafone)</strong><br />

    <strong>+38-068-672-16-00 (viber)</strong><br />

    <strong>+38-043-233-42-00 (городской)</strong>
</div>