<div class="delivery">
    <h2>Доставка і оплата</h2>
    <ol>
        <li>Доставка в тимчасові вікна по м.Київ (доставки виконуються щодня).</li>
        <li>Доставка "якомога раніше" за кілька годин з моменту підтвердження замовлення (з 9:00 до 19:00).
        </li>
        <li>Доставка поштою - "Новою Поштою" і "Укрпоштою" на відділення або кур'єром на вказану адресу.
        </li>
    </ol>

    <strong>Важливо: Виключення до замовлення складають медикаменти, що вимагають спеціального режиму зберігання, або
        числяться в переліку наркотичних, психотропних засобів і прекурсорів, а також сильнодіючими і отруйними
        лікарськими засобами.
    </strong>

    У варіанті доставки в тимчасові вікна можна замовити доставку на конкретний часовий інтервал. Існують наступні
    тимчасові вікна доставки:
    <ol>
        <li>з 14:00 до 18:00. Вартість доставки 59 грн.</li>
        <li>з 19:00 до 23:00. Вартість доставки 59 грн.</li>
    </ol>

    <strong>Доставка "якомога раніше" працює з 9:00 до 19:00.</strong>

    <h2>Вартість доставки "якомога раніше":</h2>

    <ol>
        <li>- Київ, Харків, Одеса, Львів, Запоріжжя, Дніпро - 99 грн.</li>
        <li>- Вінниця, Івано-Франківськ, Полтава, Хмельницький, Луцьк, Кривий Ріг, Суми, Маріуполь, Тернопіль, Ужгород,
            Рівне, Херсон, Кременчук, Краматорськ, Черкаси - 89 грн.</li>
    </ol>



    <strong>Важливо: На термінові замовлення діють обмеження. Кількість препаратів в замовленні не повинно перевищувати
        5 штук, а загальна суму 2000 грн. При замовленні термінової доставки наш кур'єр шукає потрібні ліки в одній
        аптеці в радіусі 5 кілометрів поруч з адресою доставки. Якщо нам не вдається знайти всі ліки в одній аптеці,
        вартість термінової доставки може збільшуватися.
    </strong>

    <h2>Доставка Новою Поштою.</h2>
    <ol>
        <li>Вартість доставки до відділення Нової пошти - 59 грн.</li>
        <li>Вартість доставка за адресою кур'єром Нової пошти - 79 грн (для замовлень до 10 кг).</li>
        <li>Обов'язкова 100% передоплата замовлення.</li>
    </ol>




    <strong>Увага! Відправка неможлива, якщо препарат вимагає особливих умов транспортування. Новою Поштою
        відправляються замовлення, які містять тільки не лікарські засоби.
    </strong>
    Користувачі зможуть отримувати свої посилки як на відділеннях і почтоматах Нової Пошти, так і адресно до дверей.
    Терміни доставки відповідають нормам відправлень. Важливо: Якщо в замовленні кількість позицій (штук) перевищує 5,
    то додатково оплачується по 2 грн за кожну додаткову позицію (штуку) після п'ятої. Оплата: Ви компенсуєте витрати на
    покупку препаратів за цінами аптеки і оплачуєте вартість доставки згідно обраного варіанту доставки.
</div>