<div class="delivery">
<h2>Фармацевтичні компанії</h2>
<ol>
    <li>Bionorica</li>
    <li>Biopharma</li>
    <li>IPSEN</li>
    <li>Sanofi</li>
    <li>SPERCO</li>
    <li>STADA</li>
    <li>Артеріум</li>
    <li>
        БАЙЄР</li>
    <li>
        Берінгер Інгельхайм</li>
</ol></div>